body {
    display: flex;
    flex-direction: column;
}

.players {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.players-names {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    column-gap: 35px;
}

.player1, .player2 {
    display: flex;
    column-gap: 20px;
    flex-grow: 2;
}

.player1 {
    justify-content: flex-end;
}

.player1-name, .player2-name {
    
}

.player1-input, .player2-input {
    margin: 2%;
}

.enter {
    display: flex;    
    justify-content: center;
}

#enter-btn {
    display: flex;
    background-color: rgb(34, 156, 244);
    margin-top: .5%;
    padding: .4% 1%;
}

.game-section {
    display: flex;
}

#player1-score, #player2-score {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

#game-column {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    padding-top: 2%;
}

.game-grid {
    display: flex;
    flex-direction: column;
}

.game-grid-row1, .game-grid-row2, .game-grid-row3 {
    display: flex;
}

#row1-column1, #row1-column2, #row1-column3, #row2-column1, #row2-column2, #row2-column3, #row3-column1, #row3-column2, #row3-column3 {
    border: 2px solid black;
    width: 55px;
    height: 55px;
}

.game-btns {
    display: flex;
    margin-top: 1.5%;
    justify-content: center;
}

#new-game-btn, #reset-btn {
    display: flex;
    padding: 4% 10%;
}

#new-game-btn {
    white-space: nowrap;
    margin-right: 15%;    
    background-color: rgb(255, 0, 0);
    color: white;
}

#reset-btn {  
    background-color: rgb(96, 222, 0);
    color: white;
}